html { min-height: 100%; font-size: 62.5%;}
body { /*max-width: 640px;*/ height: 100%; margin: auto; font-family: "Microsoft YaHei", "黑体", Arial, sans-serif; color: #333;}

.fl { float: left; }
.fr { float: right; }
.mt15{ margin-top: 1.5rem;}
.mt20{ margin-top: 2rem;}

.search-loading{ height: 30rem; background:url(../../images/loading.gif) no-repeat center center; background-size:6rem;}

/**
 * 主体
 */
.wrap{ padding: 0 1.2rem;}
.header-title{ padding: 0 1.2rem;}


/**
 * 分页
 */
.pages{ text-align: center;}
.pages .pagination{ margin: 0;}
/**
* 搜索
*/
#songs_infos, #sloading {
    display: none;
}

.search-default {
    color: #999;
    font-size: 1.8rem;
    text-align: center;
    line-height: 30rem;
}